<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.r51mt02.captureprobe">

    <application
        android:allowBackup="false"
        android:label="TCL Capture Probe"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Translucent.NoTitleBar">

        <uses-library
            android:name="com.tcl.tvmanager"
            android:required="true" />

        <activity
            android:name=".ProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ProbeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.r51mt02.captureprobe.PROBE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
